<h1>Welcome To Admin Page</h1>
<div class="page">
    <header class="d-flex justify-content-around">
        <h3 class="">Libooky</h3>
        <ul class="d-flex list-unstyled col-4 justify-content-between">
            <li><a asp-action="Books" asp-controller="Admin" class="text-decoration-none">Books</a></li>
            <li><a asp-action="Users" asp-controller="Admin" class="text-decoration-none">Users</a></li>
        </ul>
    </header>
</div>
