<div class="container">
    <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
        <h3 class="">Libooky</h3>
        <ul class="nav col-md-9 justify-content-center">
            <li class="nav-item">
                <a asp-action="Index" asp-controller="User" class="nav-link text-dark">Home</a>
            </li>
            <li class="nav-item">
                <a asp-action="Shop" asp-controller="User" class="nav-link text-dark">Shop</a>
            </li>
            <li class="nav-item">
                <a asp-action="AboutUs" asp-controller="User" class="nav-link text-warning">About Us</a>
            </li>
            <li class="nav-item">
                <a asp-action="MyProfile" asp-controller="User" class="nav-link text-dark">MyProfile</a>
            </li>
        </ul>
    </header>

    <h3 class="bg-primary text-white rounded p-2 text-center">About Us</h3>
    <p class="text-center mt-2">Welcome to Libooky, your go-to destination for a diverse collection of e-books available for purchase or borrowing. Our platform is designed to provide an easy and enjoyable reading experience for book lovers everywhere.</p>

    <h3 class="bg-primary text-white rounded p-2 text-center mt-4">Our Mission</h3>
    <p class="text-center mt-2">At Libooky, we believe that everyone should have access to a vast library of books without any barriers. Whether you're looking to buy the latest bestseller or borrow a classic novel, our mission is to bring the world of literature to your fingertips.</p>

    <h3 class="bg-primary text-white rounded p-2 text-center mt-4">What We Offer</h3>

    <div class="row mt-4">
        <div class="col-lg-6 mb-4">
            <h4 class="bg-warning text-white rounded p-2 text-center">Extensive Collection</h4>
            <p>We offer a wide range of e-books across various genres, including fiction, non-fiction, academic, self-help, and more. Our library is continuously updated to include the latest releases and timeless classics.</p>
        </div>
        <div class="col-lg-6 mb-4">
            <h4 class="bg-warning text-white rounded p-2 text-center">Flexible Options</h4>
            <p>With our unique platform, you have the flexibility to either purchase books to own permanently or borrow them for a specified period. This ensures you have access to the books you love in a way that suits your reading habits and budget.</p>
        </div>
    </div>
</div>
